
.nucleide text{
  font-size: 4px;

}
.ALPHA {
  rect:not(.border) {
    fill: #B3A60A;
  }
  fill: #B3A60A;
}


.BETA_MINUS {
    rect:not(.border) {
      fill: #548088;
  }
  fill: #548088;
}


.ELECTRON_CAPTURE {
  rect:not(.border) {
    fill: #76C848;
  }
  fill: #76C848;
}

.STABLE {
  rect:not(.border) {
    fill: black;
  }
  fill: black;

  text{
    fill:white;
  }
}

.PROTON {
  rect:not(.border) {
    fill: #AD8516;
  }
  fill: #AD8516;
}

.NEUTRON {
  rect:not(.border) {
    fill: #DC5FCD;
  }
  fill: #DC5FCD;
}

.SF {
  rect:not(.border){
    fill: #295F2D;
  }
  fill: #295F2D;
}

.BETA_PLUS {
  rect:not(.border) {
    fill: #AF5E5B;
  }
  fill: #AF5E5B;
}

.IT {
  rect:not(.border) {
    fill: #C1BAB4;
  }
  fill: #C1BAB4;
}

.ELECTRON_CAPTURE {
  rect:not(.border) {
    fill: #646293;
  }
  fill: #646293;
}

.NEUTRON {
  rect:not(.border) {
    fill: #869898;
  }
  fill: #869898;
}
